In [220]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler, SMOTE, ADASYN
from sklearn.feature_extraction.text import TfidfVectorizer

In [221]:
df = pd.read_csv("./Files/spam.csv")

In [222]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [223]:
df['v1'] = df['v1'].replace({'ham': 0, 'spam': 1})

In [224]:
# Count the number of rows for each class
class_0_count = (df['v1'] == 0).sum()
class_1_count = (df['v1'] == 1).sum()
print(class_0_count)
print(class_1_count)

# If there are more rows with class 0 than class 1, randomly sample class 0 rows
if class_0_count > class_1_count:
    class_0_indices = df[df['v1'] == 0].sample(n=class_0_count-class_1_count).index
    df = df.drop(class_0_indices)
# If there are more rows with class 1 than class 0, randomly sample class 1 rows
elif class_1_count > class_0_count:
    class_1_indices = df[df['v1'] == 1].sample(n=class_1_count-class_0_count).index
    df = df.drop(class_1_indices)

# Now df has the same number of rows for both classes
print(df)
class_0_count = (df['v1'] == 0).sum()
class_1_count = (df['v1'] == 1).sum()

4825
747
      v1                                                 v2 Unnamed: 2
0      0  Go until jurong point, crazy.. Available only ...        NaN  \
1      0                      Ok lar... Joking wif u oni...        NaN
2      1  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
4      0  Nah I don't think he goes to usf, he lives aro...        NaN
5      1  FreeMsg Hey there darling it's been 3 week's n...        NaN
...   ..                                                ...        ...
5567   1  This is the 2nd time we have tried 2 contact u...        NaN
5568   0              Will �_ b going to esplanade fr home?        NaN
5569   0  Pity, * was in mood for that. So...any other s...        NaN
5570   0  The guy did some bitching but I acted like i'd...        NaN
5571   0                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
4           NaN        NaN
5           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[4825 rows x 5 columns]

In [225]:
print(class_0_count)

4078

In [226]:
print(class_1_count)

747